<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Register</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'add_book_style.css' %}">
</head>
<body>
    <div class="contenedor">
        <div class="header">
            <h1><a class="navbar-brand">Welcome {{ request.session.first_name }}</a></h1>
            <!-- <a href="/books" class=>Home</a> -->
            <a href="logout" class='btn_out'>Logout</a>
        </div>
        <div class="row">
            <div class="col1">
                <h1>Add a Favorite Book</h1>
                <form action="addbook" method="post">
                    {% csrf_token %}
                    <div class="titulo">
                        <label >Title: </label>
                        <input type="text" class='form-control' id='form_add_title' name='form_add_title'>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                {% if message.extra_tags == "title"  %}
                                <li>{{ message }}</li>
                                <!-- <li{% if message.tags %} class="text-danger {{ message.tags }}" {% endif %}>{{ message }} -->
                                {% endif %}
                                {% endfor %}                        
                            </ul>
                        {% endif %}
                    </div>
                    <div class="descripcion">
                        <label for="form_add_description">Description:</label>
                        <textarea class="form-control" id="form_add_description" name="form_add_description" rows="3"></textarea>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                {% if message.extra_tags == "desc"  %}
                                <li>{{ message }}</li>
                                <!-- <li{% if message.tags %} class="text-danger {{ message.tags }}" {% endif %}>{{ message }} -->
                                {% endif %}
                                {% endfor %}                       
                            </ul>
                        {% endif %}
                    </div>
                    <div class="boton">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>            
            <div class="col2">
                <div class="col-6 mt-5">
                    <div class="h1">All Books</div>
                    {% for book in all_books %}
                    <div>
                      <a href="/book/{{book.id}}">{{book.title}}</a>
                      <p>(added by {{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }})</p>
            
                    </div>
                    {% endfor %}
                  </div>
            </div>
        </div>
    </div>
</body>
</html>